---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			As a London-based specialist in live sound, audio mastering, logistics, and music production, I bring a wealth of experience across diverse sectors of event production. With a passionate, dynamic approach and a commitment to excellence, I set high standards for myself while maintaining an open-minded, collaborative spirit. My deep understanding of the industry allows me to adapt to the unique demands of any occasion, ensuring the best possible outcomes through a balance of technical expertise and a willingness to listen. I also work with and record new music artists, constantly expanding my network, and I am proud to run my own recording space, providing a creative space for talent to flourish."		</p>
	</div>
</section>
