---
import Footer from '@components/Footer.astro';
import Navbar from '@components/Navbar.astro';
import { SEO } from 'astro-seo';

export interface LayoutProps {
	title: string;
}

const { title = 'Emmanuele Savoca | Sound Engineer' } = Astro.props as LayoutProps;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth" data-testid="html">
	<head>
		<SEO
			title="London Based Sound Engineer and Musician"
			description="As a London-based specialist in live sound, audio mastering, logistics, and music production, I bring a wealth of experience across diverse sectors of event production. With a passionate, dynamic approach and a commitment to excellence, I set high standards for myself while maintaining an open-minded, collaborative spirit. My deep understanding of the industry allows me to adapt to the unique demands of any occasion, ensuring the best possible outcomes through a balance of technical expertise and a willingness to listen. I also work with and record new music artists, constantly expanding my network, and I am proud to run my own recording studio, providing a creative space for talent to flourish."
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>{title}</title>
	</head>
	<body
		class="mx-auto max-w-screen-xl bg-white px-5 font-sans text-white dark:bg-black xs:text-[16px] md:text-[18px]"
	>
		<Navbar />
		<slot />
		<Footer />
		<style is:global>
			/* Improve Page speed */
			/* https://css-tricks.com/almanac/properties/c/content-visibility/ */
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
